h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    user-select: none;
}

#container{
    width: 400px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-top: 520px;
    margin-left: 500px;
    border-color: black;
    
  

}

#play-pause-button{
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 10px;
}

#seek-bar{
    width: 115px;
    cursor: pointer;
    margin-left: 30px;
}

#current-time{
    width: 65px;
    padding-left: 20px;
}

#total-time{
    width: 40px;
    padding-left: 15px;
}